<ion-header >
  <ion-toolbar class="ion-margin-top">
    <ion-searchbar placeholder="Pesquise aqui" inputmode="string" type="string" (ionChange)="onSearchChange($event)"
      [debounce]="250" showCancelButton="always"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="ion-margin-top favorite-pics">
    <ion-col class="ion-no-padding" size = "4" *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10,11]">
      <img [src] ="'https://assets.bonappetit.com/photos/5d39c7cde82b9d0008a5353d/1:1/w_400%2Cc_limit/HLY-Nam-Prik-Horizontal.jpg'+(22+i)+'/400/400'" alt="">
    </ion-col>
  </ion-row>
  
</ion-content>
