<ion-header>
    <ion-toolbar class="ion-margin-top">
        <ion-searchbar placeholder="Pesquise aqui" [(ngModel)]="currentSearch" (ionChange) = "updateFilter()">

        </ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-row class="search-pics ion-margin-top">
      <ion-list>
        <ion-card *ngFor="let post of posts">
            <div class="ion-text-center">
              <h2><strong>{{post.name}}</strong></h2>
            </div>
            <img src="{{post.img}}" alt="">
        </ion-card>

      </ion-list>

    </ion-row>

</ion-content>
