<ion-header>
  <ion-toolbar color = "primary">
    <ion-title>Receita do dia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://www.sabornamesa.com.br/media/k2/items/cache/a6026d97db0c19ba76f2c5c141efd324_L.jpg" alt="">
  <ion-card>
    <ion-text color="dark" class="ion-text-center">
      <h1><strong>Bolo Red Velvet</strong></h1>
    </ion-text>
    <ion-row class = "feed-text">
      <ion-col size = "4" >
        <ion-button expand="block" fill="clear" disabled = "true" color = "primary">
          <ion-icon name="time"></ion-icon>
        </ion-button>
        <div class="ion-text-center">
          <p><strong>Preparo</strong></p>
          55min
        </div>
      </ion-col>
      <ion-col size = "4">
        <ion-button expand="block" fill="clear" disabled = "true" color = "warning">
          <ion-icon name="restaurant"></ion-icon>
        </ion-button>
        <div class="ion-text-center">
          <p><strong>Porções</strong></p>
          10 pedaços
        </div>
      </ion-col>
      <ion-col size = "4">
        <ion-button expand="block" fill="clear" disabled = "true" color = "danger">
          <ion-icon name="heart"></ion-icon>
        </ion-button>
        <div class="ion-text-center">
          <p><strong>Likes</strong></p>
          1.045
        </div>
      </ion-col >
    </ion-row>
  </ion-card>
<ion-card>
  <ion-button expand="block" fill="clear" disabled = "true" color = "dark">
    <ion-icon name="receipt-outline"></ion-icon>
  </ion-button>
  <ion-text color="dark" class="ion-text-center">
    <h2><strong>Ingredientes</strong></h2>
  </ion-text>
<ion-text color="dark" class="ion-text-center">
  <h5> - 1 xícara de leite<br>
    - 1 colher de sopa de fermendo em pó<br>
    - 3 xícaras de farinha de trigo<br>
    - 3 xícaras de açúcar<br>
    - 3 ovos<br>
    - 4 colheres de margarina</h5>
</ion-text>

</ion-card>

<ion-card>
  <ion-button expand="block" fill="clear" disabled = "true" color = "dark">
    <ion-icon name="book-outline"></ion-icon>
  </ion-button>
  <ion-text color="dark" class="ion-text-center">
    <h2><strong>Preparo</strong></h2>
  </ion-text>
<ion-text color="dark" class="ion-text-center">
  <h5>- Bater o açúcar, a margarina e os ovos.<br>
    - Depois acrescente a farinha de trigo, o leite e por último o fermento.<br>
    - Unte a forma com farinha.<br>
    - Asse por mais ou menos 40 minutos.</h5>
</ion-text>

</ion-card>
</ion-content>
