<ion-header>
  <ion-toolbar color = "primary">
    <ion-title>Receita do dia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://www.sabornamesa.com.br/media/k2/items/cache/a6026d97db0c19ba76f2c5c141efd324_L.jpg" alt="">
  <ion-card class = "card-colorTitle">
    <ion-text color="dark" class="ion-text-center">
      <h1><strong>Bolo Red Velvet</strong></h1>
    </ion-text>
    <ion-row class = "feed-text">
      <ion-col size = "4" >
        <ion-button expand="block" fill="clear" disabled = "true" color = "primary">
          <ion-icon name="time"></ion-icon>
        </ion-button>
        <div class="ion-text-center">
          <p><strong>Preparo</strong></p>
          55min
        </div>
      </ion-col>
      <ion-col size = "4">
        <ion-button expand="block" fill="clear" disabled = "true" color = "warning">
          <ion-icon name="restaurant"></ion-icon>
        </ion-button>
        <div class="ion-text-center">
          <p><strong>Porções</strong></p>
          10 pedaços
        </div>
      </ion-col>
      <ion-col size = "4">
        <ion-button expand="block" fill="clear" disabled = "true" color = "danger">
          <ion-icon name="heart"></ion-icon>
        </ion-button>
        <div class="ion-text-center">
          <p><strong>Likes</strong></p>
          1.045
        </div>
      </ion-col >
    </ion-row>
  </ion-card>
<ion-card class = "card-color1">
  <ion-button expand="block" fill="clear" disabled = "true" color = "dark">
    <ion-icon name="receipt-outline"></ion-icon>
  </ion-button>
  <ion-text color="dark" class="ion-text-center">
    <h2><strong>Ingredientes - Massa</strong></h2>
  </ion-text>
<ion-text color="dark" class="ion-text-center">
  <h5> - 100 mililitros de leite aquecido <br>
    - 45 gramas ou 3 colheres de sopa de manteiga <br>
    - 20 gramas ou 2 colheres e meia de sopa de chocolate em pó peneirado <br>
    - 1 e meia colher de sopa ou 30 gramas de meio de corante vermelho em gel <br>
    - 4 ovos <br>
    - 270 gramas de açúcar <br>
    - Meia colherde chá de vinagre branco <br>
    - 210 gramas ou 1 xícara de chá e 1 colher de sopa de farinha de trigo peneirada <br>
    - Meia colher de sopa de fermento em pó peneirado <br>
    </h5>
</ion-text>

</ion-card>

<ion-card class = "card-color1">
  <ion-button expand="block" fill="clear" disabled = "true" color = "dark">
    <ion-icon name="receipt-outline"></ion-icon>
  </ion-button>
  <ion-text color="dark" class="ion-text-center">
    <h2><strong>Ingredientes - Recheio</strong></h2>
  </ion-text>
<ion-text color="dark" class="ion-text-center">
  <h5> - 350 gramas ou 1 xícara e meia de cream cheese amolecido<br>
    - 150 gramas ou três quartos de uma xícara de chá de manteiga amolecida<br>
    - 675 gramas ou quatro xícaras e meia de açúcar de confeiteiro peneirado<br>
    - Meia colher de café de essência de baunilha<br>
    - 1 pacote de 12 gramas de gelatina em pó sem sabor hidratada e dissolvida em 4 colheres de sopa de água<br>
    - Frutas vermelhas a gosto<br>
    </h5>
</ion-text>

</ion-card>

<ion-card class = "card-color2">
  <ion-button expand="block" fill="clear" disabled = "true" color = "dark">
    <ion-icon name="book-outline"></ion-icon>
  </ion-button>
  <ion-text color="dark" class="ion-text-center">
    <h2><strong>Modo de Preparo - Massa </strong></h2>
  </ion-text>
<ion-text color="dark" class="ion-text-center">
  <h5><strong>1.</strong> Coloque em uma panela 100 mililitros de leite aquecido, 45 gramas de manteiga, 20 gramas de chocolate em pó peneirado e leve ao fogo médio até derreter a manteiga.<br>
    <strong>2.</strong> Assim que derreter a manteiga apague o fogo, adicione 1 e meia colher de sopa de corante vermelho em gel, misture e reserve.<br>
    <strong>3.</strong> Em uma batedeira coloque 4 ovos e bata bem até dobrar de volume.<br>
    <strong>4.</strong> Adicione 270 gramas de açúcar, meia colher de chá de vinagre branco e bata por mais 3 minutos.<br>
    <strong>5.</strong> Desligue a batedeira, acrescente, aos poucos, 210 gramas de farinha de trigo peneirada e meia colher de sopa de fermento em pó peneirado e misture delicadamente para não perder o volume da massa.<br>
    <strong>6.</strong> Junte em fio no creme com corante, reservada acima, e misture delicadamente até incorporar.<br>
    <strong>7.</strong> Despeje a massa em uma forma de 24 centímetros de diâmetro forrada no fundo com papel-manteiga. Dica: cole o papel-manteiga no fundo da forma untando com manteiga.<br>
    <strong>8.</strong> Leve para assar em forno médio preaquecido a 180 graus Célsius por cerca de 35 minutos.<br>
    <strong>9.</strong> Retire do forno e reserve.<br></h5>
</ion-text>

</ion-card>

<ion-card class = "card-color2">
  <ion-button expand="block" fill="clear" disabled = "true" color = "dark">
    <ion-icon name="book-outline"></ion-icon>
  </ion-button>
  <ion-text color="dark" class="ion-text-center">
    <h2><strong>Modo de Preparo - Montagem </strong></h2>
  </ion-text>
<ion-text color="dark" class="ion-text-center">
  <h5><strong>1.</strong> Retire o recheio da geladeira e separe 1 xícara de chá para a cobertura. O restante do recheio divida em 2 partes iguais. Reserve.<br>
    <strong>2.</strong> Com uma faca corte o bolo em 3 discos no sentido da largura.<br>
    <strong>3.</strong> Coloque um disco no centro de um prato, e com o auxílio de um saco de confeiteiro cubra totalmente este disco de massa com uma camada de recheio.<br>
    <strong>4.</strong> Coloque outro disco de massa sobre o recheio e novamente, com o auxílio de um saco de confeiteiro, cubra totalmente este outro disco de massa com outra camada de recheio.<br>
    <strong>5.</strong> Cubra com o último disco de massa e decore o bolo com aquela xícara de chá de recheio reservada.<br>
    <strong>6.</strong> Decore com frutas vermelhas e sirva em seguida.<br></h5>
</ion-text>

</ion-card>
</ion-content>
