.feed-text{
  p{
    margin: 0;
  }

}
.card-color1 {
  background-color: rgb(164, 209, 247);
}

.card-color2 {
background-color: rgb(147, 240, 212);
}

.card-colorTitle {
background-color: rgb(235, 235, 235);
}
