<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Tela 3 - Criar conta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-justify-content-center">
  <ion-icon name="person-circle-outline"></ion-icon>

  <ion-item class="ion-margin">
    <ion-label position="floating">Nome completo</ion-label>
    <ion-input type="text" [(ngModel)]="name" name="name" id="name"></ion-input>
  </ion-item>

  <ion-item class="ion-margin">
    <ion-label position="floating">Seu melhor e-mail</ion-label>
    <ion-input type="email"[(ngModel)]="email" name="email" id="email"></ion-input>
  </ion-item>

  <ion-item class="ion-margin">
    <ion-label position="floating">Confirme seu e-mail</ion-label>
    <ion-input type="email_confirmacao" name="email_confirmacao" id="email_confirmacao"></ion-input>
  </ion-item>

  <ion-item class="ion-margin">
    <ion-label position="floating"> Senha</ion-label>
    <ion-input type="password" name="password" id="password"></ion-input>
  </ion-item>


   <ion-button  (click)="post(name, email)" color="primary" type="submit" routerLink = "/main-home/feed" (click)="presentAlertMultipleButtons()">
    Criar conta
  </ion-button>

  <ion-text>
    <p>Já possui uma conta ?<br>
    <a routerLink = "/login" >Clique aqui.</a></p>
  </ion-text>
</ion-content>
