@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    
}
ion-content{
    text-align: center;

    margin-bottom: 6rem;
}
ion-content img{
    margin-top: 20px;

    height: 14rem;
    width: 14rem;
}

ion-item {
    margin: 1.5rem;
}

ion-button {
    margin: 5px
}

ion-text p {
    margin: 7.5rem;
}
ion-text a{
    text-decoration: none;

    color: #01B3EB;
}