<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Tela 2 - Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <img src="https://ik.imagekit.io/ivtxgzuupu/create-account_K1Uao3f4pU.svg" alt="Homem sentado em chapéu de chef" class="ion-aling-items-center">

  <ion-item>
    <ion-label position="floating">Insira seu e-mail</ion-label>
    <ion-input type="email" name="email" id="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" > Senha</ion-label>
    <ion-input type="password" name="password" id="password"></ion-input>
  </ion-item>


  <ion-button color="primary">
    Entrar
  </ion-button>

</ion-content>