<ion-header>
  <ion-toolbar color = "secondary">
    <ion-title>Receita do dia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="https://www.sabornamesa.com.br/media/k2/items/cache/a6026d97db0c19ba76f2c5c141efd324_L.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Receita do dia</ion-card-subtitle>
      <ion-card-title>Bolo Red Velvet</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      O bolo conhecido como red velvet é indiscutivelmente o bolo mais conhecido e consumido entre os
      Americanos e vem ganhando espaço nas confeitarias de todo o Brasil.
    </ion-card-content>
    <ion-row>
      <ion-button routerLink = "/main-home/feed/feed-daydetails" fill="clear" color="dark" class="margem-auto">
        <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
      </ion-button>
    </ion-row>
    </ion-card>
</ion-content>
