<ion-header>
    <ion-toolbar>
        <ion-title>Favoritos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-text-center">
        <ion-text color="medium">
            <p><strong>Suas Receitas Salvas</strong></p>
        </ion-text>
    </div>
    <ion-row class="ion-margin-top favorite-pics">
        <ion-col class="ion-no-padding" size="4" *ngFor="let i of [0,1,2]">
            <img [src]="'https://picsum.photos/id/'+(22+i)+'/400/400'" alt="">
        </ion-col>
    </ion-row>
</ion-content>
