<ion-header>
  <ion-row>
    <ion-col>
      <ion-buttons>
      <ion-button [routerLink] = "['/main-home/edit-profile', user.id]" class = "mrAuto">
      <ion-icon slot="end" expand="block" name="person-sharp" color = "dark"></ion-icon>
      </ion-button>
      </ion-buttons>
    </ion-col>
    <ion-col>
      <ion-buttons>
        <ion-button (click)="tirarFoto()" class = "mlAuto">
          <ion-icon slot = "start" expand="block" name="camera-sharp" color = "dark"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-col>
  </ion-row>
    <ion-toolbar color="secondary">
        <ion-title>Perfil Do Usuario</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="user.name != ''; else login">
    <ion-row class="ion-text-center profile-header ion-margin ion-align-items-center">
      <ion-col>
        <ion-avatar *ngIf="image != ''; else userImage">
          <img [src] ="image" alt="">
        </ion-avatar>
      </ion-col>
      <ion-col>
        <strong>0</strong>
        <p>Receitas</p>
      </ion-col>
      <ion-col>
        <strong>0</strong>
        <p>Curtidas</p>
      </ion-col>
      <ion-col>
        <strong>5.0</strong>
        <p>Nota</p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-horizontal">
      <ion-col>
        <strong>{{user.name}}</strong><br>
        {{user.description}}
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top">
      <ion-col class="ion-no-padding">
        <ion-row class="ion-align-items-center">
          <ion-col size = "4"><img src="{{user.post1}}" alt=""></ion-col>
          <ion-col size = "4"><img src="{{user.post2}}" alt=""></ion-col>
          <ion-col size = "4"><img src="{{user.post3}}" alt=""></ion-col>

        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card>


  <ng-template #login>
    <ion-card>
      <ion-row class="ion-align-items-center">
        <ion-col size = "auto">
          <ion-text color="medium" class="ion-text-center">
            <h3><strong> Voce precisa fazer login para visualisar seu perfil. </strong></h3>
          </ion-text>
        </ion-col>
      </ion-row>
        <ion-row>
          <ion-button routerLink = "/home" fill="outline" color="primary" size = "small">
            <ion-icon slot="icon-only" name="person-sharp"></ion-icon>
          </ion-button>
        </ion-row>
    </ion-card>
  </ng-template>

  <ng-template #userImage>
<ion-avatar><img src={{user.foto}} alt=""></ion-avatar>
  </ng-template>
</ion-content>
