<ion-header>
  <ion-toolbar>
    <ion-title> 
      Aplicativo Receita
    </ion-title>
  </ion-toolbar>   
</ion-header>

<ion-content class="ion-justify-content-center">

  <h1>
    <strong>Tomperô do Chef</strong>
  </h1>

  <img src="https://ik.imagekit.io/ivtxgzuupu/chef_L1SEu2qZL.svg" >

  <div>
    <ion-button type="submit" id="buttons" color="medium">
      Entrar
    </ion-button>
  </div>

  <div>
    <ion-button type="submit" id="buttons" color="dark">
      Criar conta
    </ion-button>
  </div>


</ion-content>